Data/*
!Data/Copypasta.esp
!Data/Copypasta.achlist
!Data/Copypasta - Main.ba2
!Data/Scripts/
Data/Scripts/*
!Data/Scripts/Copypasta/
!Data/Scripts/Sources/
Data/Scripts/Sources/*
!Data/Scripts/Sources/User/
Data/Scripts/Sources/User/*
!Data/Scripts/Source/User/Copypasta.ppj
!Data/Scripts/Source/User/Copypasta/